<div class="content">
    <div class="main-content">
        Nom : <%= name %><br/>
        Description : <%= description %><br/>
        Membres :
        <% for(let i in members){ %>
            <div>
            <%= JSON.stringify(members) %>
                <%=members[i].name%> <%=members[i].firstname%> (<%=members[i].nick%>), <%=members[i].position%><br/>
            </div>
        <% } %>
        <button>Ajouter un membre</button>
    </div>
</div>
