<div class="content">
    <div class="main-content">
        Nom : <%= name %>
        Description : <%= description %>
        Membres :
        <% for(let i in members){ %>
            <div>
                <%=members[i].name%> <%=members[i].firstname%> (<%=members[i].nick%>), <%=members[i].position%>
            </div>
        <% } %>
        <button>Ajouter un membre</button>
    </div>
</div>
